.card-title {
	font-size: 1.5em;
}

.price .small-text {
	font-size: .7em;
}

.price .card-title {
	font-size: 1.5em;
}

.table {
	font-size: .8em;
	line-height: .8em;
}

/* Esta clase ya existe */
.small-text {
	font-size: .9em;
}


/* Nuevas clases */

.card,
.border-left,
.border-right {
	border: 1px solid #f2f2f2 !important;
}

.card.border-0 {
	border: none !important;
}

.icons>.icon img {
	width: 30px;
}

/* Image zoom */

.image-zoom-available {
	cursor: zoom-in;
}

.image-zoom-available.is-active {
	cursor: none;
}